---
import { Icon } from 'astro-icon';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<style lang="css">
		[astro-icon] {
			color: blue;
		}
		[astro-icon="annotation"] {
			color: red;
		}
	</style>
</head>

<body>
	<h1>Welcome to Astro Icon!</h1>

	<p>The <code>Icon</code> component will optimize and inline any SVG file inside of <code>src/icons/</code></p>

	<p>Alternatively, see <a href="/sprite">the Sprite method</a>.</p>
	
	<!-- This will inline your SVG directly -->
	<Icon size={24} name="adjustment" />
	<Icon size={24} name="annotation" />
</body>

</html>
