---
import Icon from 'astro-icon';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<style lang="css">
		[astro-icon] {
			color: blue;
		}
		[astro-icon="adjustment"] {
			color: red;
		}
	</style>
</head>

<body>
	<h1>Welcome to Astro Icon!</h1>
	<Icon size={24} name="adjustment" />
	<Icon size={24} name="annotation" />
</body>

</html>
