---
import { Icon } from "astro-icon/components";

const icon = "local:adjustment";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Icon</title>
    <style lang="css">
      [data-icon] {
        color: blue;
      }
      [data-icon="local:annotation"] {
        color: red;
      }
      [data-icon="local:deno"] {
        color: green;
      }
    </style>
  </head>

  <body>
    <h1>Welcome to Astro Icon!</h1>

    <p>
      The <code>Icon</code> component will optimize and inline any SVG file inside
      of <code>src/icons/</code>
    </p>

    <article>
      <h2>Local</h2>
      <!-- This will inline your SVG directly -->
      <Icon size={24} name="local:adjustment" />
      <Icon size={24} name={icon} />
      <Icon size={24} name={icon} />
      <Icon size={24} name="ic:baseline-directions-run" />
      <Icon size={24} name="local:annotation" />
      <Icon size={24} name="local:annotation" />
      <Icon size={24} name="local:deno" />
      <Icon name="local:deno" />
      <Icon name="local:deno" />
    </article>

    <article>
      <h2>Automatic icons from service</h2>
      <p>
        If you can find it on <a href="https://icones.js.org/">Icones</a>, you
        can render it here!
      </p>
    </article>
    <!-- Pull your icon from the default remote service -->
    <Icon size={32} name="ic:baseline-account-box" />
    <Icon size={64} name="ic:baseline-account-box" />
    <Icon size={80} name="ic:baseline-account-box" />

    <Icon size={64} name="fe:building" />
    <Icon size={64} name="ri:aliens-fill" />
  </body>
</html>
