---
import BaselineAccountBox from "astro:icons/ic/baseline-account-box";
import BaselineDirectionsRun from 'astro:icons/ic/baseline-directions-run'
import Building from 'astro:icons/fe/building'
import Alien from 'astro:icons/ri/aliens-fill'
import Stars from 'astro:icons/bi/stars'
import OutlineStar from 'astro:icons/ic/outline-star'
import Base from "../layouts/base.astro";
---

<Base>
  <h1>Welcome to Astro Icon!</h1>

  <article>
    <h2>Automatic Icons from Iconify</h2>
    <p>
      If you can find it on <a href="https://icones.js.org/">Icones</a>, you can
      render it here!
    </p>
  </article>
  <!-- Pull your icon from the default remote service -->
  <BaselineAccountBox inline />
  <BaselineAccountBox size={32} />
  <BaselineAccountBox size={64} />
  <BaselineAccountBox size={80} />

  <BaselineDirectionsRun />
  <Building size="64" />
  <Alien size="64" />
  <Stars />
  <OutlineStar />
</Base>

<style lang="css">
  [data-icon] {
    color: blue;
  }
  [data-icon="bi:stars"] {
    color: red;
  }
  [data-icon="fe:building"] {
    color: #12124b;
  }
  [data-icon="ri:aliens-fill"] {
    color: lime;
  }
</style>
