---
import { Icon } from "astro-icon/components";
import Base from "../layouts/base.astro";

const icon = "adjustment";
---

<Base>
  <h1>Welcome to Astro Icon!</h1>

  <p>
    The <code>Icon</code> component will optimize and inline any SVG file inside
    of <code>src/icons/</code>
  </p>

  <article>
    <h2>Local Icons</h2>
    <!-- SVG sprite -->
    <svg width="0" height="0">
      <Icon name="adjustment" symbol />
      <Icon name="adjustment" symbol />
      <Icon name="annotation" symbol />
      <Icon name="logos/deno" symbol />
    </svg>

    <Icon size={24} name="adjustment" />
    <Icon size={24} name={icon} />
    <Icon size={24} name="annotation" />
    <Icon size={24} name="logos/deno" />
    <Icon name="logos/deno" />
    <Icon width={75} name="logos/alpine" />
    <Icon name="logos/alpine-multi-color" />

    <Icon is:inline size={24} name="adjustment" />
  </article>

  <article>
    <h2>Automatic Icons from Iconify</h2>
    <p>
      If you can find it on <a href="https://icones.js.org/">Icones</a>, you can
      render it here!
    </p>
  </article>

  <!-- SVG sprite -->
  <svg width="0" height="0">
    <Icon name="ic:baseline-account-box" symbol />
    <Icon name="ic:baseline-account-box" symbol />
    <Icon name="annotation" symbol />
    <Icon name="ri:aliens-fill" symbol />
  </svg>

  <!-- Pull your icon from the default remote service -->
  <Icon size={32} name="ic:baseline-account-box" />
  <Icon size={64} name="ic:baseline-account-box" />
  <Icon size={80} name="ic:baseline-account-box" />

  <Icon size={24} name="ic:baseline-directions-run" />
  <Icon size={64} name="fe:building" />
  <Icon size={64} name="ri:aliens-fill" />
  <Icon name="bi:stars" />
  <Icon name="ic:outline-star" />
</Base>

<style lang="css">
  [data-icon] {
    color: blue;
  }
  [data-icon="annotation"] {
    color: red;
  }
  [data-icon="deno"] {
    color: #12124b;
  }
  [data-icon="alpine"] {
    color: rgb(45, 52, 65);
  }
</style>
