---
import Star from 'astro:icons/ic/outline-star'
import Base from "../layouts/base.astro";
---

<Base>
  <h1>Welcome to Astro Icon!</h1>

  {Array.from({ length: 5 }).map(() => <Star />)}
</Base>

<style lang="css">
  [data-icon="ic:outline-star"] {
    color: goldenrod;
  }
  [data-icon="ic:outline-star"]:last-of-type {
    color: lightgray;
  }
</style>
