---
import { Sprite, Spritesheet } from 'astro-icon';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro Icon</title>
	<style lang="css">
		[astro-icon] {
			color: blue;
		}
		[astro-icon="annotation"] {
			color: red;
		}
	</style>
</head>

<body>
	<h1>Welcome to Astro Icon!</h1>

	<p>The <code>SpriteSheet</code> component will create an optimized spritesheet including only referenced SVG files inside of <code>src/icons/</code>. It should be included once per page, at the end of <code>body</code>.</p>

	<aside><p>Tip! <code>SpriteSheet</code> can be included in <a href="/sprite-in-layout">a Layout component</a> for ease of use!</p></aside>

	<p>Individual icons can be referenced using the <code>Sprite</code> component. Internally, this uses <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use"><code>&lt;use></code></a> element.</p>

	<p>Alternatively, see <a href="/">the Icon method</a>.</p>

	<article>
		<h2>Local</h2>
		<!-- This will inline your SVG directly -->
		<Sprite size={24} name="adjustment" />
		<Sprite size={24} name="annotation" />
	</article>

	<article>
		<h2>Custom remote source</h2>
		<!-- Pull your icon from a custom remote source -->
		<Sprite size={24} pack="radix" name="github-logo" />
	</article>
	
	<article>
		<h2>Local dependencies</h2>
		<!-- Pull your icon from a local dependency -->
		<Sprite size={24} pack="heroicons" name="arrow-sm-up" />
		<Sprite size={24} pack="heroicons" name="arrow-sm-right" />
		<Sprite size={24} pack="heroicons" name="arrow-sm-down" />
		<Sprite size={24} pack="heroicons" name="arrow-sm-left" />
	</article>

	<article>
		<h2>Automatic icons from service</h2>
		<p>If you can find it on <a href="https://icones.js.org/">Icones</a>, you can render it here!</a></p>
		<!-- Pull your icon from the default remote service -->
		<Sprite size={64} pack="ic" name="baseline-account-box" />
		<Sprite size={64} name="fe:building" />
		<Sprite size={64} name="ri:aliens-fill" />
	</article>
	<!-- Make sure you include the <SpriteSheet /> component! -->
	<Spritesheet />
</body>

</html>
