---
import { Sprite, SpriteSheet } from 'astro-icon';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<style lang="css">
		[astro-icon] {
			color: blue;
		}
		[astro-icon="annotation"] {
			color: red;
		}
	</style>
</head>

<body>
	<h1>Welcome to Astro Icon!</h1>

	<p>The <code>SpriteSheet</code> component will create a spritesheet using every SVG file inside of <code>src/icons/</code>. It should be included once per page.</p>

	<p>Individual icons can be referenced using the <code>Sprite</code> component. Internally, this uses <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use"><code>&lt;use></code></a> element.</p>

	<p>Alternatively, see <a href="/">the Icon method</a>.</p>
	
	
	<!-- This leverages the `<use />` SVG feature -->
    <Sprite size={24} name="adjustment" />
	<Sprite size={24} name="annotation" />
	
	<!-- Make sure you include the <SpriteSheet /> component! -->
	<SpriteSheet />
</body>

</html>
