---
import load from './utils.ts';
export { Props } from './Props.ts';

const { name, title, optimize = true, class: className, ...inputProps } = Astro.props;
const inputClass = className.replace(/astro-[A-Z0-9]+/gmi, '').trim();
const { innerHTML, props } = await load(name, { ...inputProps, class: inputClass || undefined }, optimize);
---

<svg {...props}>{title ? (<title>{title}</title>) : ''}{innerHTML}</svg>
